<html>
  <body>
    <p>Use the following IDs and Password:</p>
    <ol>
      <li>admin (password: admin)</li>
      <li>user (password: user)</li>
    </ol>
    <hr />
    <% console.log(status);%> <% if (status && status == "error") { %>
    <h1 style="color: red">Incorrect username or password</h1>
    <% } %>

    <div class="border-2 border-gray-400">
      <form
        action="/login"
        method="post"
      >
        Username:
        <input
          type="text"
          name="name"
        /><br />
        Password:
        <input
          type="password"
          name="password"
        /><br />
        <input
          type="submit"
          value="Login"
        />
      </form>
    </div>
  </body>
</html>
